# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 945842fd0fbf70f81aa2363cd6be2577a71ce455a8cb83274d06d2be849deac49c066d9bef37a66b45a5496a43612206ae2cbde560c7a62207a23bac98629778

test:
  secret_key_base: 075d4dcaaa08a8430d923a1f2d3354947ece81c6a5606ca25e0e3222fe55438e81da3725cf16ce898bc71ee8b410ca3c1478937d1a8480646169747d9bb5be92

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
